<%= render partial: "application/pageheader", locals: {pageTitle: "ユーザ検索"} %>

<%= form_tag("/user_search_result", method: :get) do %>
    <%= label_tag "名前" %><br />
    <%= text_field_tag :name %>
    <br />

    <%= label_tag "年齢" %><br />
    <%= number_field_tag :age_min, 0, :min => 0, :max => 100 %> ～ <%= number_field_tag :age_max, 100, :min => 0, :max => 100 %>
    <br />

    <%= label_tag "紹介文" %><br />
    <%= text_field_tag :detail %>
    <br />
    
    <br />
    <%= submit_tag "検索" %><br />
<% end %>
<br />
<a href="/user_top">戻る</a><br />
