<%= render partial: "application/pageheader", locals: {pageTitle: "ユーザページ"} %>

<h2>ようこそ、<%= @name %>さん</h2><br />

<%= link_to "コンタクト一覧", contact_list_path, :class => "link" %><br />
<%= link_to "コンタクト要求一覧", contact_requests_path, :class => "link" %><br />
<br />

<%= link_to "ユーザ検索", user_search_path, :class => "link" %><br />

<br />
<%= link_to "ログアウト", logout_path, :class => "link" %><br />
